<div class="task-lists">
  <app-task-list
    app-droppable
    [dragEnterClass]="'drag-enter'"
    [dropTags]="['task-item','task-list']"
    [app-draggable]="'true'"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list"
    (dropped)="handleMove($event,list)"
    [ngStyle]="{'order':list.order}"
    *ngFor="let list of lists;let idx= index" class="list-container">

    <app-task-header 
    [header]="list.name" 
    (newTask)="launghNewTaskDiolog()" 
    (moveAll)="launghCopyTaskDialog()"
    (delList)="launghDeleteDialog()"
    (editList)="launghEditDialog()"
    >
    </app-task-header>

    <app-task-item
     *ngFor="let task of list.tasks" [list]="list" [task]="task"
     (taskClick)="launchUpdateTaskDialog(task)"
     >

    </app-task-item>
    <div>
      <app-quick-task (sendDesc)="getDesc($event)" (sendTask)="getTask($event,idx)"></app-quick-task>
    </div>
    <p>{{idx}}</p>
  </app-task-list>
</div>


<button color="warn" class="add-btn" type="button" md-fab (click)="openNewListDialog()">
  <md-icon>add</md-icon>
</button>
